@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Index</title>
    <style>
        .btn a { color: white; text-decoration: none; }
        body { background-color: #f1f1f1; }
    </style>
</head>
<body>
    <div class="text-center">
        <h2>추천글 혹은 비추천글을 등록해주세요!</h2>
        <div class="panel-body">
            <div class="btn btn-success">
                @Html.ActionLink("추천글", "Recom")
            </div>
            <div class="btn btn-success">
                @Html.ActionLink("비추천글", "Not_recom")
            </div>
        </div>
    </div>
</body>
</html>
